* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: @main-bg;
}


h1 {
  font-size: 10rem;
  color: aliceblue;
  text-shadow: 2px 2px black;

  @media @tablet {
    font-size: 8rem;
  }

  @media @mobile {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  text-align: center;
  margin: 2%; 
  color: @font-color;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
}

 .container {
  margin: auto;
  width: 80%;
  padding: 10px;
}

ul{
  margin: 4%;
  font-weight: bold;
}

li{
  margin: 10px;
  font-size: 2rem;
  list-style-type: circle;
  color: @font-color;
}
