// Navigation Styles here

.header-section .header-nav {
    width: 50%;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    @media @mobile {
        width: 100%;
    }
}

.header-nav a {
    color: @eastern-blue;

}